@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");

.app {
  background-color: #000;
}

.pink-box {
  border: 5px solid #e6007a;
}

.parallax {
  /* The image used */
  background-image: url("./mesh-pink-0.png");

  /* Full height */
  width: 300px;
  padding: 30px;
  margin: 30px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
