body {
  margin: 0;
  font-family: "Space Grotesk" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  color: #e6007a;
}

.logo {
  font-family: "Sans JP" sans-serif;
}

.pink-color {
  background-color: #e6007a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  max-height: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e6007a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e6007a;
}
