body {
  margin: 0;
  font-family: "Space Grotesk" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  color: #e6007a;
}

.logo {
  font-family: "Sans JP" sans-serif;
}

.pink-color {
  background-color: #e6007a;
}

.parallax {
  /* The image used */
  background-image: url("%PUBLIC_URL%/mesh-pink-0.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
